body {
  font-family: 'Oxygen','Open Sans',sans-serif;
  background-color: #F7F7F7;
  margin: 0;
  padding: 0;
}

a { color: #e7711b; }

.right { float: right; }
.gray { color: #999; }

img.logo {
  display: block;
  float: right;
  width: 40%;
}

UL { list-style-type: none; margin: 0; padding: 0; }
UL.left li { float:left }
.clear { overflow: hidden; }

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.modal-body input {
	width: 100%;
	padding: 5px;
	margin: 10px 0;
}


/* LAUNCH VIEW */

body.primary {
	background: url('../images/dp-shine.png') center center #ff6600 no-repeat;
	text-align: center;
	font-size: 13px;
}

body.primary a,
body.primary a:hover {
	color: #8b3902;
	text-decoration: none;
}

body.primary footer a,
body.primary footer a:hover {
	color: rgba(255,255,255,0.85);
	text-decoration: none;
	position: fixed;
	bottom: 30px;
	display: block;
	width: 100%;
	text-align: center;
}

@media screen and (min-width: 400px) {
	body.primary footer a,
	body.primary footer a:hover {
		position: static;
		margin-top: 20px;
	}
}

body.primary section .btn {
	width: 70%;
	margin: 15px 15%;
	padding: 10px;
	background-color: rgba(255,255,255,0.7);
	border: none;
	color: #8b3902;
}

.btn-primary,
.btn-primary:hover {
	background-color: #8b3902 !important;
	color: #fff !important;
	border: 1px solid #7f3300 !important;
}

body.primary section input {
	width: 100%;
	padding: 10px;
	border: none;
	margin-bottom: 1px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
}

@media screen and (min-width: 700px) {
	body.primary section .btn {
		width: 500px;
		margin: 15px calc((100% - 500px) / 2);
	}
	body.primary section input {
		width: 500px;
		display: block;
		margin: 0 calc((100% - 500px) / 2) 1px calc((100% - 500px) / 2);
	}
}

body.primary section input::-webkit-input-placeholder { /* WebKit browsers */
    color: rgba(255,255,255,0.7);
}
body.primary section input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: rgba(255,255,255,0.7);
   opacity: 1;
}
body.primary section input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: rgba(255,255,255,0.7);
   opacity: 1;
}
body.primary section input:-ms-input-placeholder { /* Internet Explorer 10+ */
   color: rgba(255,255,255,0.7);
}

.logo {
	display: block;
	width: 100%;
	height: 100px;
	margin: 40px auto;
	background: url('../images/dp-logo.png') center top no-repeat;
	font-family: 'Allan', cursive;
	padding-top: 70px;
	font-size: 2.4em;
	color: #fff;
}

.facebook-login { margin-top: 15px; }


/* HEADER */

.app-header { position: fixed; width: 100%; box-shadow: 0 1px 1px rgba(0,0,0,0.2); z-index: 100; background-color: rgba(255, 102, 0, 0.9); }

@media screen and (min-width: 700px) {
	.app-header {
		padding: 0 calc((100% - 1240px) / 2);
	}
}

.title-bar,
.inputs {
	color: #fff;
	width: 100%;
	font-family: 'Allan', cursive;
	font-size: 1.2em;
}

.inputs {
	background-color: rgba(255,102,0,0.9)
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2) inset;
}

.title-bar a,
.inputs a {
	color: #fff;
	text-decoration: none;
}

.title-bar li,
.inputs li {
	width: 50px;
	height:50px;
	display: block;
	padding: 15px;
	text-align: center;
}

.title-bar li.header-wrapper,
.inputs li.search-wrapper {
	width: calc(100% - 100px);
	height: auto;
	padding: 0;
}

.title-bar li h1 {
	text-align: center;
	font-size: 1.5em;
	font-weight: 600;
	padding: 0;
	line-height: 100%;
	margin-top: 12px;
	white-space: nowrap;
	overflow: hidden;  
	text-overflow: ellipsis;
}

.title-bar li:first-of-type,
.title-bar li:last-of-type {
	font-family: 'Oxygen','Open Sans',sans-serif;
}

.search-button { margin-left: -30px; }



/* MAIN NAV */

header nav ul li {
	width: calc(100% / 7);
	height: 36px;
	display: block;
	background-color: rgba(255,99,0,1);
	text-align: center;
	font-size: 1.4em;
}

header nav ul li,
header nav ul li i {
	color: #fff;
}

header nav ul li span {
	font-size: 0.7em;
	white-space: nowrap;
	display: none;
}

@media screen and (min-width: 1080px) {
	header nav ul li span {
		display: inline;
		margin-left: 5px;
	}
}

header nav ul a:hover li,
header nav ul a:hover li i,
.title-bar a:hover,
.inputs a:hover {
	color: rgba(255,255,255,0.7);
	text-decoration: none;
}

.search-wrapper { position: relative; }
.search-wrapper .fa-search { position: absolute; left: 15px; top: 18px; }

.header-overlay {
	background-color: #ff6600;
	opacity: 0.85;
	position: absolute;
	top: 0; 
	left: 0;
	height: 86px;
	width: 100%;
	z-index: 200;
}

.inputs .search-wrapper .search-input {
	width: 100%;
	margin: 10px 5px;
	border-top: none;
	border-right: none;
	border-bottom: 1px solid rgba(255,255,255,0.3);
	border-left: none;
	padding: 5px 5px 5px 28px;
	background-color: rgba(255,255,255,0);
	font-family: 'Oxygen','Open Sans',sans-serif;
	text-align: left;
}

.inputs .search-wrapper .search-input::-webkit-input-placeholder { /* WebKit browsers */
    color: rgba(255,255,255,0.7);
}
.inputs .search-wrapper .search-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: rgba(255,255,255,0.7);
   opacity: 1;
}
.inputs .search-wrapper .search-input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: rgba(255,255,255,0.7);
   opacity: 1;
}
.inputs .search-wrapper .search-input:-ms-input-placeholder { /* Internet Explorer 10+ */
   color: rgba(255,255,255,0.7);
}

.inputs li:nth-of-type(2) { position: relative; }

.search-details {
	background-color: #ff7700;
	padding: 1px 15px 15px 15px;
	position: relative;
}

.search-details input {
	width: 100%;
	color: #666;
	padding: 5px;
	margin-bottom: 5px;
	background-color: #fff;
	box-shadow: 0px -3px 3px 0px rgba(0, 0, 0, 0.15) inset;
	border: none;
}

.search-details .fa-search,
.search-details .fa-map-marker {
	color: #ccc;
	position: absolute;
	right: 24px;
	top: 10px;
}

.search-details .fa-map-marker {
	right: 26px;
	top: 44px;
}


/* RESULTS */

.results-wrapper { padding-top: 140px; margin-bottom: 75px; max-width: 1240px; }

@media screen and (min-width: 700px) {
	.results-wrapper {
		margin: 0 calc((100% - 1240px) / 2);
	}
}

.results li {
	border-bottom: 1px solid #e0e0e0;
	padding: 15px 15px 15px 0;
	margin: 0;
}

.results .search-results-list li { padding: 10px; }

.results li .rating,
.results li .geo,
.results li a:hover,
.search-results-list a:hover {
	color: #e7711b;
	text-decoration: none;
}

.results li a:hover,
.search-results-list a:hover {
	opacity: 0.85;
}

footer.ad-block {
	position: fixed;
	bottom: 0;
	background-color: rgba(255,255,255,0.7);
	text-align: center;
	width: 100%;
	box-shadow: 0 -1px 2px rgba(0,0,0,0.2);
	z-index: 35;
}

.results-search-wrapper { margin-top: 2px; position: relative; }
.results-search { position: absolute; z-index: 50; width: 100%; background-color: #fff; }
.results-overlay { background-color: #fff; z-index: 25; width: 100%; height: 100%; position: fixed; }
.header-exit, .header-exit:hover { color: #fff; z-index: 300; position: absolute; top: 15px; right: 15px; font-size: 1.4em; }
.geo-search { z-index: 400; position: fixed; width: 100%; background-color: rgba(255,255,255,0.85); padding: 5px; box-shadow: 0 1px 1px rgba(0,0,0,0.2); }
.geo-search-icon {
	position: absolute;
	z-index: 600;
	left: 18px;
	top: 14px;
	color: #999;
}

.geo-search input {
	width: 100%;
	padding: 5px 5px 5px 28px;
	border: none;
}


/* DETAIL VIEW */

.detail-content { padding-top: 47px; margin-bottom: 75px; }

@media screen and (min-width: 700px) {
	.detail-content {
		margin: 0 calc((100% - 1240px) / 2) 75px calc((100% - 1240px) / 2);
	}
}
